.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.d-block {
    display: block;
}

.text-red {
    color: var(--color-red);
}

.text-blue {
    color: var(--color-blue);
}

.text-crossed {
    text-decoration: line-through 2px solid var(--color-red);
}