.carousel__buttons {
    position: absolute;
    top: 10px;
    right: 72px;
    display: flex;
    align-items: center;
    gap: 14px;
}

.carousel__button {
    padding: 0;
    border: none;
    outline: none;
    background-color: var(--color-dark);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s ease;
}

.carousel__button:hover {
    background-color: var(--color-yellow);
}

.carousel__button_disabled {
    cursor: not-allowed;
    background-color: var(--color-gray);
    pointer-events: none;
}

.carousel__button img {
    width: 12px;
    height: 20px;
    margin-left: -4px;
}

.carousel__button_right img {
    transform: rotate(180deg);
    margin-left: 0;
    margin-right: -4px;
}

.carousel__count {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    color: rgba(49, 49, 49, .6);
}

.carousel__count-current {
    color: var(--color-dark);
}

@media (max-width: 991px) {
    .carousel__buttons {
        top: auto;
        bottom: -40px;
        right: 50%;
        transform: translateX(50%);
    }
    .carousel__button {
        width: 36px;
        height: 36px;
    }

    .carousel__button img {
        width: 10px;
        height: 18px;
        margin-left: -3px;
    }

    .carousel__button_right img {
        margin-right: -3px;
    }
}