.info {
    position: relative;
    padding: 80px 0 100px;
}

.info__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
    margin-bottom: 17px;
}

.info__top-image {
    width: 394px;
}

.info__bottom {
    display: grid;
    align-items: center;
    grid-template-columns: 0.688fr 1fr;
    gap: 17px;
}

.info__bottom-left {
    margin-left: -27px;
}

.info__bottom-left-image {
    width: 609px;
}

.info__bottom-right {
    height: auto;
}

.info__table {
    margin: 44px 0 48px;
    font-size: 20px;
}

.info__table-row {
    display: grid;
    grid-template-columns: 0.78fr 1fr;
    border-bottom: 2px solid var(--color-gray);
}

.info__table-row:last-child {
    border-bottom: none;
}

.info__table-cell {
    padding: 16px;
}

.info__table-row:last-child .info__table-cell {
    padding-bottom: 0;
}

.info__table-cell:first-child {
    border-right: 2px solid var(--color-gray);
    padding-left: 0;
}

.info__table-cell-title {
    opacity: 0.7;
}

.info__table-cell-text {
    font-weight: 600;
}

.info__text {
    font-size: 20px;
}

@media (max-width: 991px) {
    .info {
        padding: 48px 0 60px;
    }

    .info__top {
        margin-bottom: 24px;
    }

    .info__top-image {
        display: none;
    }

    .info__top-title_image {
        display: block;
        margin: 24px 0;
        width: 100%;
        aspect-ratio: 335/212;
        background-image: url("../../images/info1.webp");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .info__bottom {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }

    .info__bottom-left {
        margin-left: 0;
    }
}

@media (max-width: 575px) {
    .info__table {
        margin: 28px 0 40px;
    }

    .info__table-row {
        grid-template-columns: 1fr;
        gap: 12px;
    }

    .info__table-cell {
        padding: 0;
    }

    .info__table-cell:first-child {
        border-right: none;
        padding-top: 16px;
    }

    .info__table-cell:last-child {
        padding-bottom: 16px;
    }

    .info__text {
        font-size: 18px;
    }
}